// Imports
@import url('https://fonts.googleapis.com/css?family=Montserrat');

// Dasboard Styles
.Dashboard {
  width: 100%;
  height: 100vh;
  color: #F0F3BD;
  background: #05668D;
  #title {
    position: absolute;
    top: 25px;
    left: 100px;
    font-family: 'Montserrat';
  }
}



// Sidebar Styles
.Sidebar {
  position: fixed;
  width: 70px;
  height: 100%;
  background-color: #028090;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-box-shadow: 3px 0px 33px -6px rgba(0,0,0,0.75);
  -moz-box-shadow: 3px 0px 33px -6px rgba(0,0,0,0.75);
  box-shadow: 3px 0px 33px -6px rgba(0,0,0,0.75);
  #addBtn {
    cursor: pointer;
  }
}

// Modal Styles
.Modal {
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  color: #F0F3BD;
  font-family: 'Montserrat';
  .modalBody {
    background-color: #00A896;
    margin: 20% auto;
    width: 60%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2),  0 7px 20px 0 rgba(0, 0, 0, 0.17);
    -webkit-box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2),  0 7px 20px 0 rgba(0, 0, 0, 0.17);
    -moz-box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2),  0 7px 20px 0 rgba(0, 0, 0, 0.17);
    animation-name: modalopen;
    animation-duration: 0.5s;
    .modalHead {
      h3 {
        text-align: center;
        padding-top: 15px;
        margin-right: 20px;
      }
      #closeBtn {
        float: right;
        position: relative;
        bottom: 40px;
        right: 25px;
        font-size: 22px;
        cursor: pointer;
      }
    }
  }
  .modalInputs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    #submitBtn {
      padding: 1em 2em;
      color: #F0F3BD;
      font-family: 'Montserrat';
      font-weight: bold;
      cursor: pointer;
      background-color: #02C39A;
      border-radius: 25px;
      border: none;
      box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2),  0 7px 20px 0 rgba(0, 0, 0, 0.17);
      -webkit-box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2),  0 7px 20px 0 rgba(0, 0, 0, 0.17);
      -moz-box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2),  0 7px 20px 0 rgba(0, 0, 0, 0.17);
      &:hover {
        transition: 0.2s;
        padding: 1em 3em;
      }
    }
  }
}

// Inputs and Placeholders
#userInput, #urlInput {
  font-family: 'Montserrat';
  text-align: center;
  background: transparent;
  outline: 0;
  border: none;
  box-shadow: none;
  color: #F0F3BD;
  font-size: 16px;
  border-bottom: 1px solid #F0F3BD;
  padding-bottom: 0.75em;
}

#userInput::placeholder, 
#urlInput::placeholder {
  text-align: center;
  color: #F0F3BD !important;
  opacity: 1;
}

#userInput:-ms-input-placeholder, 
#urlInput:-ms-input-placeholder {
  text-align: center;
  color: #F0F3BD !important;
}

#userInput::-ms-input-placeholder, 
#urlInput::-ms-input-placeholder {
  text-align: center;
  color: #F0F3BD !important;
}

#userInput:focus::-moz-placeholder, 
#urlInput:focus::-moz-placeholder {
  text-align: center;
  transition: 0.1s !important;
  color: transparent !important;
}

#userInput:focus:-moz-placeholder, 
#urlInput:focus:-moz-placeholder {
  text-align: center;
  transition: 0.1s !important;
  color: transparent !important;
}

#userInput:focus::-webkit-input-placeholder, 
#urlInput:focus::-webkit-input-placeholder {
  text-align: center;
  transition: 0.1s !important;
  color: transparent !important;
}

#userInput:focus::-ms-input-placeholder, 
#urlInput:focus::-ms-input-placeholder {
  text-align: center;
  transition: 0.1s !important;
  color: transparent#F0F3BD !important;
}

// Animations
@keyframes modalopen {
  from {
    opacity: 0;
  }  to {
    opacity: 1;
  }
}